body{
    font-family: Helvetica, serif;
}

a{
    text-decoration: none;
}

#container{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#header{
    height: 130px;
    line-height: 130px;

}

#logo{
    float: left;
    width: 300px;
}

#nav{
    float: left;
    height: 200px;
    width: 600px;
    text-align: right;
}

#main{
    background-image: url("../images/car.jpg");
    background-size: cover;
    height: 554px;
    position: relative;
}

#curtain{
    height:554px;
    width: 455px;
    opacity: 0.8;
    background-color: black;
}

h1{
    position: relative;
    font-family: "Helvetica Neue", serif;
    top: 93px;
    left: 34px;
    color: lightcyan;
}

h2{
    position: relative;
    top: 87px;
    left: 310px;
    color: blue;
}

h2 a:visited{
    color: blue;
}

h2 a:hover{
    color: lightcyan;
}

.displayInline{
    display: inline;
}